@import url("http://fonts.cdnfonts.com/css/sofia-pro");
@import url("https://fonts.googleapis.com/css2?family=Nova+Script&display=swap");
@font-face {
  font-family: AmazonEmber;
  src: url("/Amazon-Ember-Medium.ttf");
}

body {
  margin: 0;
  font-family: "Sofia Pro", sans-serif;
  color: #292f36;
}

#AWS {
  position: fixed;
  top: 0;
  background-color: #232f3eee;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
}
#aws-text {
  margin-left: 50px;
  display: flex;
  align-items: center;
}
#aws-text h2 {
  font-family: AmazonEmber, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  border: none;
  margin: 0;
  width: auto;
  color: #ddd;
}
#awsLogo {
  width: 59px;
  height: 35px;
  margin-left: 50px;
}
#close {
  margin-right: 50px;
  background-color: #ddd;
  width: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 2px;
  outline: none;
  user-select: none;
  cursor: pointer;
}
#close:hover {
  background-color: gray;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}

.navbar {
  background-color: rgba(41, 47, 54, 0.15);
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

#nav-div span {
  font-size: 24px;
  font-weight: 500;
  margin-right: 35px;
  cursor: pointer;
}

#nav-div span:hover {
  opacity: 80%;
}

#logo-div {
  margin-left: 35px;
  display: flex;
  cursor: pointer;
}

#logo-div:hover {
  opacity: 80%;
}

#logo-div svg {
  width: 45px;
  fill: #0075f2;
  margin-right: 25px;
}

.selected {
  color: #0075f2 !important;
}

h3 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("images/winter-2054297.jpg");
  background-color: #c7cbd4;
  background-size: 250vh;
}

h1 {
  font-family: "Nova Script", cursive;
  text-transform: uppercase;
  font-style: italic;
  font-size: 128px;
  margin: 0;
}

#header svg {
  width: 101px;
  fill: #292f36;
  margin-left: 50px;
}

#intro {
  padding: 70px 50px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  border-top: 5px solid #0075f2;
  width: 310px;
  text-align: center;
  margin-top: 0;
}

#intro div {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

#intro p {
  font-weight: 300;
  font-size: 18px;
  color: black;
  width: 360px;
}

#intro img {
  width: 380;
  height: 365;
  border-radius: 30px;
  object-fit: cover;
}

.era-title {
  background-color: #292f36;
  border: none;
  width: 100%;
  line-height: 88px;
  color: #f8faff;
  margin: 0;
}

.exibit-section-left {
  display: flex;
}
.exibit-section-right {
  display: flex;
}

.exibit-text {
  background-color: #f8faff;
  width: 50%;
}

.exibit-section-left .exibit-text {
  border-right: 16px solid #292f36;
}

.exibit-section-right .exibit-text {
  border-left: 16px solid #292f36;
}

.exibit-section-right img {
  margin-left: auto;
  display: block;
}

.exibit-title-div {
  display: flex;
  padding-top: 35px;
}

.exibit-section-left .exibit-title-div {
  justify-content: space-between;
}

.exibit-title {
  margin: 0 0 0 112px;
  font-weight: 600;
  font-size: 30px;
  border-top: 5px solid #0075f2;
  text-align: center;
  display: inline-block;
  padding: 0 7px 0 7px;
}

.exibit-section-left .exibit-title {
  margin: 0 0 0 112px;
}

.exibit-section-right .exibit-title {
  margin: 0 0 0 25px;
}

.dot {
  height: 32px;
  width: 32px;
  background-color: #292f36;
  border-radius: 50%;
  display: inline-block;

  text-align: end;
}

.exibit-section-left .dot {
  transform: translate(50%, 6px);
}
.exibit-section-right .dot {
  transform: translate(-50%, 6px);
}

.exibit-date {
  display: inline-block;
  font-weight: 600;
  font-size: 32px;
  color: #0075f2;
  margin: 0;
}

.exibit-p {
  margin: 10px 54px 165px 112px;
  color: black;
}

.exibit-img {
  width: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.more {
  all: unset;
  cursor: pointer;
  color: #0075f2;
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
}

.more:hover {
  color: #023b79;
}
